@model Demo1CoreCRUD.ViewModels.EditTaskVM
@using Demo1CoreCRUD.Data.Enums
@using Demo1CoreCRUD.Extensions
@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link href="~/customcss/home/edit.css" rel="stylesheet" />
}

<div class="text-center">
    <h1 class="display-4">Update a Task</h1>
</div>

<div>
    <form method="post" asp-action="Edit" asp-controller="Home" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.Hidden("TaskId", Model.TaskId)
        @Html.Hidden("DateCreated", Model.DateCreated)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label fw-semibold"></label>
            <input asp-for="Name" class="form-control" placeholder="Type text...">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CompleteDate" class="form-label fw-semibold"></label>
            <input asp-for="CompleteDate" class="form-control" type="date" id="due-date">
            <span asp-validation-for="CompleteDate" class="text-danger"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="StatusLabel" class="form-label fw-semibold"></label>
            <select asp-for="StatusLabel" class="form-control form-select" id="statuses" asp-items="@Html.GetEnumList<StatusLabel>()">
                <option value="" disabled>-- Select --</option>
            </select>
            <span asp-validation-for="StatusLabel" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Note" class="form-label fw-semibold"></label>
            <textarea asp-for="Note" class="form-control" rows="3" placeholder="Type text..."></textarea>
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="User" class="form-label fw-semibold"></label>
            <input asp-for="User" class="form-control" placeholder="Type your name...">
            <span asp-validation-for="User" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success fw-semibold me-3">Submit</button>
        <input type="reset" class="btn btn-outline-secondary text-center fw-semibold me-3" value="Reset" />
        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "fw-semibold btn btn-outline-secondary" })
    </form>
</div>